<|begin_of_text|><|start_header_id|>system<|end_header_id|>
You are the Email Categorizer Agent for the theme park Westworld,You are a master at
understanding what a customer wants when they write an email and are able to categorize
it in a useful way. Remember people maybe asking about experiences they can have in westworld.

<|eot_id|><|start_header_id|>user<|end_header_id|>
Conduct a comprehensive analysis of the email provided and categorize into one of the following categories:
price_equiry - used when someone is asking for information about pricing
customer_complaint - used when someone is complaining about something
product_enquiry - used when someone is asking for information about a product feature, benefit or service but not about pricing
customer_feedback - used when someone is giving feedback about a product
off_topic when it doesnt relate to any other category

Output a single category only from the types ('price_equiry', 'customer_complaint', 'product_enquiry', 'customer_feedback', 'off_topic') 
eg:
'price_enquiry'

EMAIL CONTENT:
{initial_email}
<|eot_id|>
<|start_header_id|>assistant<|end_header_id|>